.cardContainer {
  border-radius: 10%;
  background-color: white;
  height: 15em;
  width: 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.addCardContainer {
  justify-content: center !important;
}

.addCardContainer:hover {
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-align: center;
}

.toppingList {
  height: 8em;
  overflow-y: auto;
}

.plusImg {
  height: 12em;
  width: 12em;
}
